@page "/Exercise5"
@model WebApplication.Pages.Exercise5


@{
    ViewData["Title"] = "Keona - Exercise 5";
}

<div class="grid grid-cols-2 mb-20 px-4 md:px-0">
<div id="comments" class=" max-w-7xl mx-auto col-span-2 bg-white overflow-hidden shadow rounded-lg mt-20">
  <div class="px-4 py-5 sm:p-6">
    <h2 class="text-2xl text-blue-800">
          Exercise 5 - Technology and Tools
        </h2>
        <h3 class="text-gray-700">
         Discuss the technology and tools for a new project.
        </h3>
  </div>
</div>


<div id="solution" class=" mx-0 md:mx-5 col-span-2 md:col-span-1  bg-white overflow-hidden shadow rounded-lg mt-10 max-w-5xl mx-auto">
  <div class="px-4 py-5 sm:p-6">
    <h2 class="text-2xl text-blue-800 text-center">
            Answer
    </h2>
    <div class="mt-2">
        <div class="max-w-screen-xl mx-auto py-6 px-4 sm:px-6 lg:py-6 lg:px-8">
          <div class="mt-6 border-t-2 border-gray-200 pt-6">
            <dl>
              <div class="md:grid md:grid-cols-12 md:gap-8">
                <dt class="text-base leading-6 font-medium text-gray-900 md:col-span-5">
                  Client Side
                </dt>
                <dd class="mt-2 md:mt-0 md:col-span-7">
                  <p class="text-base leading-6 text-gray-500">
                    Depending on the project and use case. I usually use either Razor Pages / MVC or for a client first app I lean towards Angular frontend. I don't really have a specific reason here to go with Angular. 
                    It is just something that I started using and have grown to like it.
                    I have used React and Vue in proof of concepts, but always seem to go back to Angular.
                  </p>
                </dd>
              </div>
              <div class="mt-8 border-t border-gray-200 pt-6 md:grid md:grid-cols-12 md:gap-8">
                <dt class="text-base leading-6 font-medium text-gray-900 md:col-span-5">
                  API
                </dt>
                <dd class="mt-2 md:mt-0 md:col-span-7">
                  <ul class="text-base leading-6 text-gray-500">
                    <li>.Net Core Web Api</li>
                    <li>Entity Framework ORM</li>
                    <li>Fluent Validation</li>
                    <li>Auto Mapper for object to DTO mapping</li>
                  </ul>
                </dd>
              </div>
              <div class="mt-8 border-t border-gray-200 pt-6 md:grid md:grid-cols-12 md:gap-8">
                <dt class="text-base leading-6 font-medium text-gray-900 md:col-span-5">
                  Database
                </dt>
                <dd class="mt-2 md:mt-0 md:col-span-7">
                  <p class="text-base leading-6 text-gray-500">
                    There are various use cases on when to use Relational Db vs. NoSql. However, with the newer relational dbs ability to render JSON, and store NVARCHAR(MAX) for SQL SERVER and JSON type for POSTGRESQL. It makes
                    a ton of sense to just stick with the tried and true models.
                    SQL is well supported in Azure and AWS RDS so coverage is good and well documented in cloud providers
                  </p>
                </dd>
              </div>
           <div class="mt-8 border-t border-gray-200 pt-6 md:grid md:grid-cols-12 md:gap-8">
             <dt class="text-base leading-6 font-medium text-gray-900 md:col-span-5">
               API Gateway
             </dt>
             <dd class="mt-2 md:mt-0 md:col-span-7">
               <p class="text-base leading-6 text-gray-500">
                 This tool makes it really easy to switch environments, update code, and load balance.
               </p>
             </dd>
           </div>
          <div class="mt-8 border-t border-gray-200 pt-6 md:grid md:grid-cols-12 md:gap-8">
           <dt class="text-base leading-6 font-medium text-gray-900 md:col-span-5">
             DevOps
           </dt>
           <dd class="mt-2 md:mt-0 md:col-span-7">
             <p class="text-base leading-6 text-gray-500">
             I would most like use Azure DevOps pipelines for all CI/CD/AT. It integrates well with on prem, and cloud providers to deploy solutions as need to multiple tenants.
             </p>
           </dd>
         </div>
            </dl>
          </div>
        </div>
      </div>

  </div>
</div>



</div>
