@page "/Exercise3"
@model WebApplication.Pages.Exercise3

@{
  ViewData["Title"] = "Keona Health- Exercise 3";
}



<div class="grid grid-cols-2 mb-20 px-4 md:px-0">
<div id="comments" class=" max-w-7xl mx-auto col-span-2 bg-white overflow-hidden shadow rounded-lg mt-20">
  <div class="px-4 py-5 sm:p-6">
    <h2 class="text-2xl text-blue-800">
          Exercise 3 - Javascript Dates
        </h2>
        <h3 class="text-gray-700">
          I utilized codepen (you should be able to see the values in developer tools) for this and import Moment.js
        </h3>
  </div>
</div>


<div id="solution" class="  mx-0 md:mx-5 col-span-2 md:col-span-1  bg-white overflow-hidden shadow rounded-lg mt-10">
  <div class="px-4 py-5 sm:p-6">
    <h2 class="text-2xl text-blue-800">
            Answer & Output
    </h2>
    <div class="mt-2">
        <p class="codepen" data-height="650" data-theme-id="dark" data-default-tab="js,result" data-user="eroberts22" data-slug-hash="LYNNrON" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Keona Health Exercise 3">
          <span>See the Pen <a href="https://codepen.io/eroberts22/pen/LYNNrON">
          Keona Health Exercise 3</a> by Erick Roberts (<a href="https://codepen.io/eroberts22">eroberts22</a>)
          on <a href="https://codepen.io">CodePen</a>.</span>
        </p>
        <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
    </div>

  </div>
</div>
  
</div>




